# Virtual Environment
.venv/
__pycache__/
.pytest_cache/

.env

# MLflow Model Tracking
mlruns/
mlartifacts
model_drift_dashboard.html 

# Great Expectations generated artifacts
gx/uncommitted/
gx/validations/
gx/data_docs/

# Local configuration secrets (never commit these)
gx/config_variables.yml

# Local system files
.DS_Store
Thumbs.db
